<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="CamstarIP" value="10.197.10.20" />
    <add key="CamstarPort" value="2881" />
    <add key="CamstarUsername" value="sys_hil-SNP" />
    <add key="CamstarPassword" value="±¯¿ÎÞ" />
    <add key="MDEIP" value="10.197.18.163" />
    <add key="MDEClientPort" value="11000" />
    <add key="MDEOutPort" value="12000" />
    <add key="LogggingLevel" value="5" />
    <add key="Listening" value="1" />
    <add key="Sending" value="1" />
    <add key="DiagnosticFile" value="C:\\Users\\d.paddock\\Desktop\\Diagnostic.csv" />
    <add key="MainTopicName" value="SNPProd" />
    <add key="BrokerIP" value="tcp://10.197.10.32:61616" />
    <add key="ClientID" value="SNPService" />
    <add key="ConsumerID" value="SNPService" />
    <add key="ENGDBIP" value="10.197.10.26" />
    <add key="ENGDBUser" value="SNPUser" />
    <add key="ENGDBPassword" value="°Û¯Ûª" />
    <add key="ENGDBDatabase" value="SNPDB" />
    <add key="QRQCDatabase" value="QRQC" />
    <add key="camProductTable" value="[ODS].[CamstarSch].[Product]" />
    <add key="camProductBaseTable" value="[ODS].[CamstarSch].[ProductBase]" />
    <add key="DBCamstarConnectionString" value="Data Source=DBM-HILCS2;" />
    <add key="QRQC_ProductNameId_view" value="[QRQC].[dbo].[QRQC_ProductNameId_view]" />
    <add key="speedTable" value="[QRQC].[dbo].[QRQC_CycleTimes_view]" />
    <add key="QRQC_Service_SERVERIP" value="10.197.10.26" />
    <add key="ResetENGDBPassword" value="" />
    <add key="ResetCamstarPassword" value="" />
    <add key="UDPListeningEnabled" value="0" />
    <add key="UDPPort" value="25525" />
    <add key="QRQCConnectionString" value="Data Source=DBM-HILCSQAENG1;Initial Catalog=QRQC;User Id= camstaruser; Password= c@mst@rus3r;" />
    <add key="IsProd" value="1" />
    <add key="ForwardTopic" value="SNPQA" />
  </appSettings>
</configuration>